@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div align="center"><p><h3>Yozgat Bozok Üniversitesi Admin Paneli</h3></p> </div>
<div style="padding-left:80px">
    <img class="d-block w-100" src="https://tip.bozok.edu.tr/Upload/Slider/4s7t.jpg">
</div>
<div style="padding-top:20px">
    <div style="padding-left:80px">
    <p>Yozgat Bozok Üniversitesi 2022 Sağlık MYO Eğitim Platformu</p>
    </div>
</div>



