@model Hospital.Models.Entity.IlacListe

@{
    ViewBag.Title = "GetirIlac";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("GetirDüzenle", "UrunAdi", FormMethod.Post))
{
    <form class="u-form-group" method="post">
        <div style="padding-left:100px;padding-top:20px">

            @Html.HiddenFor(t => t.ID, new { @class = "form-control" })
            @Html.LabelFor(t => t.UrunAdi)
            @Html.TextBoxFor(t => t.UrunAdi, new { @class = "form-control" })
           
            <div style="padding-top:10px"></div>
            <button class="btn btn-info" id="Btn">
                Düzenle
            </button>
        </div>

    </form>
}

